@charset "UTF-8";

@media  screen and (min-width:901px) and (max-width:1199px) {
    section{
        flex-direction: column;
    }

    .content_sec{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .sec_img1{
        width: 350px;
        height: 320px;
    }

    .sec_img2{
        width: 470px;
        height: 320px;
    }
}

@media screen and (min-width:790px) and (max-width:900px) {
    section{
        flex-direction: column;
    }

    .content_sec{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .sec_img1{
        width: 300px;
        height: 320px;
    }

    .sec_img2{
        width: 420px;
        height: 320px;
    }
}

@media screen and (min-width:400px) and (max-width:789px) {
    main{
        flex-direction: column;
    }

    .img_main{
        margin-top: 30px;
        width: 400px;
    }

    section{
        flex-direction: column;
    }

    .content_sec{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .sec_img1{
        width: 150px;
        height: 300px;
    }

    .sec_img2{
        width: 250px;
        height: 300px;
        margin-left: 10px;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}