@charset "UTF-8";


/*Feito para ajustar os espaçamentos das opções de avaliação ao diminuir a tela*/
@media screen and (min-width:379px) and (max-width:679px) {
    li{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #FFFFF4;
        cursor: pointer;
    }
}