@charset "UTF-8";

@font-face {
    font-family: "Overpass";
    src: url(Overpass/Overpass-VariableFont_wght.ttf);
}

*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    font-family: "Overpass";
}

body{
    width: 100vw;
    height: 100vh;

    background-color: hsl(216, 12%, 8%);

    display: flex;
    align-items: center;
    justify-content: center;
}

#desempenho{
    background-image: linear-gradient(-45deg, #1E2228, hsl(216, 12%, 8%), #1E2228, hsl(216, 12%, 8%));

    width: 580px;

    border-radius: 20px;

    box-shadow: 0 2px 5px black;

    padding: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: left;
}

.estrela{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #252D37;

    width: 64px;
    height: 64px;

    border-radius: 50%;
}

h1{
    color: #FFFFFF;
    padding-top: 20px;
    font-weight: 700;
    font-size: 42px;
}

p{
    color: #7C8798;
    font-size: 22px;
    padding-top: 20px;
}

#classifique{
    height: auto;
    width: 100%;

    padding-top: 20px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;

    list-style: none;

    padding: 0px 12px 0px 12px;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFF4;
    font-weight: bolder;
    font-size: 20px;

    width: 60px;
    height: 60px;

    border-radius: 50%;

    cursor: pointer;
}

#enviar{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 0px 0px 0px;
}

#btn_enviar{
    background-color: #FB7413;

    width: 80%;

    border-radius: 20px;

    text-align: center;

    cursor: pointer;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.63);
}

#btn_enviar:hover{
    background-color: #bd5b14;
}

#btn_enviar p{
    color: white;

    font-size: 25px;
    font-weight: 700;
    padding: 12px;
}
/*fim da parte de desempenho*/

/*começo da parte de avaliado*/

#avaliado{
    background-image: linear-gradient(-45deg, #1E2228, hsl(216, 12%, 8%), #1E2228, hsl(216, 12%, 8%));

    width: 580px;
    height: 480px;

    border-radius: 20px;
    box-shadow: 0 2px 5px black;

    padding: 30px;

    justify-content: center;
    
    text-align: center;
}

#selecionou{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
}

#selecionado{
    background-color: #252D37;

    border-radius: 20px;

    text-align: center;
}

#selecionado p{
    padding: 8px;
    color: #FB7413;
    font-size: 18px;
}

#avaliado h1{
    font-size: 32px;
}

#avaliado p{
    font-size: 18px;
}
